APP_NAME = JwtGolang
PORT = 8080
DEBUG = true

DB_NAME = postgres
DB_USERNAME = postgres
DB_PASSWORD = pass
DB_HOST = localhost
DB_PORT = 5432
DB_TIMEZONE = "Asia/Jakarta"
DB_MAX_IDLE_CONNS=10
DB_MAX_OPEN_CONNS=1
DB_MAX_IDLE_TIME=10
DB_MAX_LIFE_TIME=50
MIGRATE_USED = true

SECRET_KEY=y0urS3cretK3YY